
.conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.base {
  margin: 30px;
  padding: 20px;
  width: 349px;
  height: 325px;
}
.item1 {
  background-color: #D03636;
  border-radius: 50px 0 0 50px;
  
}

.item2 {
  background-color: #60C2BD;
  border-radius: 175px;
}

.item3 {
  background-color: #4F89A1;
  border-radius: 0 50px 0 50px;
}

.item4 {
  background-color: #A73838;
  border-radius: 150px;
}

.item5 {
  background-color: #553030;
  border-radius: 150px 10px 20px 50px;
}

.item6 {
  background-color: #AB3E3E;
  border-radius: 150px;
}